@tailwind base;
@tailwind components;
@tailwind utilities;


.know-ais.solid-select-container {
    color: #fff;
    z-index: 1;
  }
  .know-ais .solid-select-control {
    /* outline-color: #7dd3fc;
    border-color: #7dd3fc; */
  }
  .know-ais .solid-select-placeholder {
    /* color: #fca560; */
  }
  .know-ais .solid-select-option:hover {
    background-color: #0ea5e9;
    color: #fff;
  }
  .know-ais .solid-select-option[data-focused=true] {
    background-color: #0ea5e9;
    color: #fff;
  }