@tailwind base;
@tailwind components;
@tailwind utilities;


.custom.solid-select-container {
    color: #fa7f25;
    position: absolute;
    z-index: 1;
  }
  .custom .solid-select-control {
    outline-color: #fca560;
    border-color: #fca560;
  }
  .custom .solid-select-placeholder {
    color: #fca560;
  }
  .custom .solid-select-option:hover {
    background-color: #fa7f25;
    color: #fff;
  }
  .custom .solid-select-option[data-focused=true] {
    background-color: #fca560;
    color: #fff;
  }